*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-height: 2000px; /* Для прокрутки контента */
}

/*шапка*/
/* Специфические стили для кнопок в .user-actions */
.user-actions button {
  background-color: #4b4a4a !important;
  border: none;
  padding: 0;
  position: relative;
  transform: none; 
}

.user-actions button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transform: none; 
}

.user-actions button:hover img {
  filter: invert(0);
  transform: none; 
}

.user-actions button:not(:last-child)::after {
  content: '';
  position: absolute;
  height: calc(100% + 20px);
  width: 1px;
  background-color: #000000;
  top: -7px;
  right: -7px;
  transform: rotate(20deg);
}

/* Основные стили */
.header {
  background-color: #000;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: height 0.3s; 
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b9ff21;
}

/* Лого */
#parallelogram {
  width: 150px;
  height: 100%;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background-color: #b9ff21;
  position: absolute;
  top: 0;
  left: 100px;
  margin-right: auto;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: rgb(0, 0, 0);
}

/* Серый контейнер */
.action-container {
  background-color: #4b4a4a;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 60%;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  position: absolute;
  left: 260px;
  top: 0;
  height: 50px;
}

.action-container .content {
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
}

.action-container .search-bar {
  margin-right: 20px;
  margin-left: auto;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px; /* Отступы между кнопками */
}

.action-container .user-actions {
  margin-left: auto;
}

.user-actions #favorite-button, #cart-button{
  position: relative;
}

.user-actions #favorite-count, #cart-count{
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Стили для карусели */
.carousel {
  display: flex;
  overflow: hidden; 
  width: 1200px; 
  margin: 0 auto; 
}

.product-card {
  width: 280px;
  height: 300px;
  margin-right: 20px;
  text-align: left;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex: 0 0 auto; 
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block; 
  margin-top: 40px;
  margin-left: 65px;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.details {
  padding: 10px;
}

.category {
  margin-top: 35px;
  font-size: 14px;
  color: #666;
}

.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  margin-bottom: 10px;
}

.discounted-price {
  font-weight: bold;
  color: red;
}

.original-price {
  text-decoration: line-through;
  color: #666;
  margin-left: 10px;
}
.original-prices{
  color: #666;
  margin-left: 10px;
}
.add-to-cart {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 70px;
}

.add-to-favorites {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #666;
  cursor: pointer;
}

.favorited .fa-heart {
  color: red;
}
/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contents {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%; 
  max-width: 1200px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-contents h2{
  padding: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#favorite-list {
  width: 100%;
  border-collapse: collapse;
}

#favorite-list th, #favorite-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#favorite-list th {
  background-color: #f2f2f2;
}

#favorite-list td {
  vertical-align: middle;
}

.favorite-product-image {
  width: 50px;
  height: auto;

}

.add-to-cart, .remove-from-favorites {
  background-color: #b9ff21;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  margin: 0 5px}

  .add-to-favorites i.active {
    color: red;
}


#cart-list {
  width: 100%;
  border-collapse: collapse;
}

#cart-list th, #cart-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#cart-list th {
  background-color: #f2f2f2;
}

#cart-list td {
  vertical-align: middle;
}

.cart-product-image {
  width: 50px;
  height: auto;
}

.remove-from-cart {
  background-color: #000000;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.remove-from-cart:hover {
  background-color: #000000;
}
.cart-product-image {
  width: 50px;
  height: auto;
}


#scooter-form {
  margin-bottom: 20px;
}

#scooter-form label {
  display: block;
  margin-top: 10px;
}

#scooter-form select {
  width: 100%;
  padding: 8px; /* Уменьшаем немного отступы */
  margin-top: 5px;
  border: 1px solid #ddd; /* Добавляем рамку, чтобы выделить поле */
  border-radius: 5px; /* Добавляем скругленные углы */
}

#add-scooter, #login-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Добавляем скругленные углы */
}

#add-scooter:hover, #login-button:hover {
  background-color: #45a049;
}
.scooter-content {
  display: flex;
}

.scooter-form-container {
  flex: 1;
  padding-right: 20px;
}

.scooter-preview {
  flex: 1;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.scooter-preview img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Выравнивание ячейки таблицы */
table td {
  vertical-align: middle;
}

/* Центрирование изображения в ячейке таблицы */
td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.quantity-change {
padding: 11px 11px !important;
margin-right: 10px;
margin-left: 10px;
align-items: center;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  margin-right: 40px;
}

.buy-button {
  padding: 10px 20px;
  background-color: #b9ff21;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #b9ff21;
}

.highlighted {
  background-color: #b9ff21;
  padding: 2px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.highlighted:hover {
  background-color: #a0e96f;
}


/* Поисковик */
.search-bar {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  transform: skew(20deg);
}

.search-bar button,
.user-actions button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  transform: skew(20deg);
}



/* .tabs */
.submenu {
  display: none;
  position: absolute;
  margin-left: 560px;
  /* z-index: 1; */
  width: auto;
  padding: 17px;
  top: 40px;
  z-index: 1000; /* Поверх других элементов */
}

.submenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.submenu ul li {
  padding: 0 10px;
  position: relative;
}

.submenu ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  height: calc(100% + 22px);
  width: 1px;
  background-color: #4b4a4a;
  top: -10px;
  right: 2px;
  transform: rotate(20deg);
}

.submenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px; /* Увеличенный размер шрифта */
  display: block;
  padding: 5px 5px;
}

.submenu ul li a:hover {
  background-color: #1c1c1c; /* Темно-серый фон при наведении */
  border-radius: 5px; /* Скругленные углы при наведении */
  transition: all 0.3s ease; /* Плавный переход */
}

/* Иконка меню */
.menu-icon {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}

.menu-icon:hover {
  color: #b9ff21;
}

/* Основной контент */
main.pay {
  padding: 20px;
  margin-top: 130px; /* Чтобы не перекрывать контент шапкой */
  max-width: 70%; /* Контент занимает 70% ширины */
  margin-left: auto; /* Выровнять по центру */
  margin-right: auto; /* Выровнять по центру */
}

main.pay h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

main.pay .toc {
  margin-bottom: 20px;
}

main.pay .toc ul {
  list-style: none;
  padding-left: 0;
}

main.pay .toc ul li {
  margin-bottom: 10px;
}

main.pay .toc ul li a {
  text-decoration: none;
  color: #007BFF;
}

main.pay .toc ul li a:hover {
  text-decoration: underline;
}

main.pay section {
  margin-bottom: 40px;
}

main.pay h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

main.pay h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

main.pay p {
  margin-bottom: 10px;
  line-height: 1.5;
}

main.pay ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

main.pay ul li {
  margin-bottom: 5px;
}


main.pay .payment-img {
  max-width: 30%;
  height: auto;
  margin-bottom: 20px;
}

main.pay .back-to-main, main.jobs .back-to-main, main.container .back-to-main {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #b9ff21;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
}

.responsive-img {
  max-width: 30%;
  height: auto;
  margin-bottom: 20px;
}


footer {
  padding: 10px;
  background-color: #000000;
  color: white;
}

/* Параллакс-эффект для фона (если нужен) */
.parallax {
  /* Фон будет фиксироваться и создаст эффект параллакса */
  background-attachment: fixed;
  background-size: cover;
}

/* Плавное появление элементов при прокрутке */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}


/*подвал*/
.footer {
  background-color: #000000;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-section {
  width: calc(50% - 130px); 
  margin-right: 10px; 
  color: #ccc;
  box-sizing: border-box; 
  margin-left: 40px;
}

.footer-section:nth-child(n+2) {
  width: calc(25% - 20px); 
}

.footer-section:last-child {
  margin-right: 0; 
}

.yellow-text {
  color: #b9ff21;
  font-weight: bold;
}
.footer-section p{
  padding: 10px 0px ;
}

.subscribe-form {
  display: flex;
  align-items: stretch; 
  margin: 3% auto;
}

.subscribe-form input[type="email"],
.subscribe-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; 
  height: 50px; 
  width: 150px;
}

.subscribe-form input[type="email"] {
  border-radius: 10px 0 0 10px; 
  flex: 0.8; 
}

.subscribe-button {
  background-color: #b9ff21;
  color: #000000;
  border: none;
  border-radius: 0 10px 10px 0; 
  cursor: pointer;
  padding: 10px 20px; 
  transition: background-color 0.3s ease; 
  margin-top: 0px;
}

.divider {
  border: dotted 1px; 
  height: 100%; 
  color: rgba(204, 204, 204, 0.2); 
}

.social-icons {
  display: flex;
}

.footer .highlights {
  color: #b9ff21;
}

.footer-section h3, h4 {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 10px; 
  margin-right: 225px;
}

.social-icon {
  margin-right: 10px; 
  color: #b9ff21; 
  font-size: 24px; 
}

.social-image {
  width: 24px;  /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  margin-top: 4px;
}






.footer {
  position: relative;
}

.footer::after {
  content: "Copyright © 2024 Scooter24";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #b9ff21;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000; 
  margin-bottom: -30px;
}

.footer-section h4 a {
  color: #fff; 
  text-decoration: none; 
}



.salesroom-container {
  margin-top: 20px;
}
.large-image {
  width: 101%;
  height: auto;
  margin-bottom: 15px;
}
.small-image {
  width: 50%;
  height: auto;
  margin-bottom: 15px;
}
.small-images {
  display: flex;
  justify-content: space-between;
}
.small-images img {
  flex: 1;
  margin-right: 10px;
}
.small-images img:last-child {
  margin-right: 0;
}



.salesroom-container h1 {
  text-align: center;
  color: #000000;
}

.salesroom-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.salesroom-images .large-images {
  flex: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.salesroom-images .small-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.salesroom-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

.salesroom-images img:hover {
  transform: scale(1.05);
}

.work-hours, .payment-methods {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work-hours ul, .payment-methods ul {
  list-style: none;
  padding: 0;
}

.work-hours li, .payment-methods li {
  background: #f8f8f8;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.work-hours li:hover, .payment-methods li:hover {
  background: #e0e0e0;
}

.map {
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



@media (max-width: 768px) {
  .salesroom-images {
    flex-direction: column;
  }

  .salesroom-images .large-images,
  .salesroom-images .small-images {
    flex: none;
  }

  .salesroom-images .small-images {
    flex-direction: row;
  }

  .modal-content {
    width: 90%;
  }
}

/*баннер индивидульного заказа*/


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  max-width: 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px; /* Отступы между элементами */
}

.close {
  color: #aaa;
  align-self:flex-end;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 10px 0; 
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.whatsapp-btn, .telegram-btn, .phone-btn {
  width: 200px;
}

.whatsapp-btn {
  background-color: #25D366;
  color: white;
}

.telegram-btn {
  background-color: #0088cc;
  color: white;
}

.phone-btn {
  background-color: #007bff;
  color: white;
}

.legal a {
  text-decoration: none;
}

.line  {
  border-top: 1px dashed #000; /* Параметры линии */
  height: 18px; /* Высота блока */
  background: url(images/scissors.png) no-repeat 10px -18px; /* Параметры фона */
 }

 .jobs {
  padding: 100px 20px 20px;
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s;
}

.jobs h1, .jobs h2 {
  color: #333;
  text-align: center;
  margin-top: 30px;
}

.benefits {
  margin-bottom: 20px;
}

.benefits ul {
  list-style: none;
  padding: 0;
}

.benefits li {
  margin: 10px 0;
  color: #555;
  animation: slideInLeft 0.5s;
}

.vacancies {
  margin-bottom: 20px;
}

.vacancy-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: zoomIn 0.5s;
}

.vacancy-card h3 {
  margin-top: 0;
}

.vacancy-card p {
  margin: 5px 0;
  color: #555;
}

.apply-button {
  display: block;
  margin: 10px 0 0;
  padding: 10px;
  background-color:  #ffffff;
  color: #000000;
  text-decoration: none;
  border: 1px solid #b9ff21;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color:  #b9ff21;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes zoomIn {
  from { transform: scale(0.5); }
  to { transform: scale(1); }
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s;
}

#search-bar {
  width: 60%;
  padding: 10px 15px;
  border: 2px solid  #b9ff21;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 1em;
}

#search-bar::placeholder {
  color: #ababab;
}

.search-section button {
  padding: 10px 20px;
  border: none;
  background-color:  #ffffff;
  color: #000000;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s;
  border: 2px solid  #b9ff21;
}


/*без категории*/
.containers {
  display: flex;
  margin: 20px;
  margin-top: 150px;
}

.sidebar {
  flex: 0 0 200px;
  margin-right: 20px;
}

.main-content {
  flex: 1;
}
.main-content h2 {
  margin-top: -32px;
}
.categories-nav ul {
  list-style: none;
  padding: 0;
}
.categories-nav h2 {
padding: 5px;
}

.categories-nav ul li {
  margin-bottom: 10px;
}

.categories-nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.categories-nav ul li a:hover {
  background-color: #b9ff21;
  color: #333;
}

.breadcrumbs {
  margin-bottom: 20px;
  text-align: end;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
}

.sorting {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sorting label {
  margin-right: 10px;
}

.sorting select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f3f3;
  cursor: pointer;
  appearance: none;

}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  background-color: #ffffff;
}
.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 250px; /* уменьшена ширина */
  text-align: center;
  background-color: #fff;
}
.card img {
  max-width: 70%; /* изменено на 100% */
  border-radius: 5px;
}
.card h3 {
  margin: 10px 0;
  font-size: 1em; /* уменьшен размер шрифта */
}
.card p {
  font-size: 0.9em; /* добавлено для уменьшения размера текста */
  margin: 5px 0; /* добавлено для уменьшения отступов */
}
.card .price {
  color: #28a745;
  font-weight: bold;
  margin: 5px 0;
}
.card .availability {
  color: #6c757d;
  margin: 5px 0;
}
.card button {
  padding: 8px; /* уменьшен размер кнопки */
  border: none;
  background-color: #b9ff21;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em; /* уменьшен размер шрифта кнопки */
  margin-top: 5px; /* уменьшен отступ сверху */
}

.filter label {
  margin-right: 10px;
  font-size: 1em;
  color: #343a40;
}
.filter input[type="number"],
.filter select {
  padding: 5px;
  margin-right: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.filter input[type="number"]:focus,
.filter select:focus {
  border-color: #b9ff21;
  outline: none;
}
.filter button {
  padding: 5px 10px;
  border: none;
  background-color: #b9ff21;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 2px solid #b9ff21;
  background-color: #fdfeff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}
.pagination .active {
  background-color: #b9ff21;
}
.pagination .disabled {
  background-color: #ddd;
  color: #888;
  cursor: not-allowed;
}

.no-products {
  text-align: center;
  margin-top: 50px;
}
.no-products img {
  width: 150px;
}
@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}
.cat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  animation: jump 0.5s infinite;
}

